.product-tab {
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.product-tab .tab-left {
  width: 70%;
  background-color: #bbdefb;
}
.product-tab .tab-left .left-header {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.product-tab .tab-left .left-header .topic-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  margin-left: 30px;
  color: #1b5793;
}
.product-tab .tab-left .left-main .tab-list .tab {
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-tab .tab-left .left-main .tab-list .tab li {
  margin: 10px;
}
.product-tab .tab-left .left-main .tab-list .tab li .imgBox .pd-img-box {
  width: 200px;
  height: 200px;
}
.product-tab .tab-left .left-header .tab-btn {
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.product-tab .tab-left .left-header .tab-btn .btn {
  width: 20px;
  height: 20px;
  background-color: azure;
  margin-right: 2px;
}
.product-tab .tab-left .left-header .btn_active {
  width: 20px;
  height: 20px;
  border: none;
  background-color: #1b5793;
  margin-right: 2px;
  color: #bbdefb;
}
.product-tab .tab-right {
  width: 30%;
  background-color: aquamarine;
}
.product-tab .tab-right .right-header {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 25px;
}
.product-tab .tab-right .right-header .side-tab-btn {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.product-tab .tab-right .right-header .side-tab-btn button {
  width: 20px;
  height: 20px;
  background-color: azure;
  margin-right: 2px;
}
.product-tab .tab-right .right-main {
  display: flex;
  justify-content: center;
}
.product-tab .tab-left .left-main .tab-list .tab li .imgBox {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.product-tab
  .tab-left
  .left-main
  .tab-list
  .tab
  li
  .imgBox
  .dim
  .profile-photo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.product-tab .tab-left .left-main .tab-list .tab li .imgBox:hover .dim {
  top: 0;
  height: 200px;
  transition: all;
  transition-duration: 0.5s;
  background-color: #1b5793;
  opacity: 0.8;
  display: block;
}
.product-tab
  .tab-left
  .left-main
  .tab-list
  .tab
  li
  .imgBox:hover
  .dim
  .dim-title {
  display: none;
}
.product-tab
  .tab-left
  .left-main
  .tab-list
  .tab
  li
  .imgBox:hover
  .dim
  .profile-photo {
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-tab
  .tab-left
  .left-main
  .tab-list
  .tab
  li
  .imgBox:hover
  .dim
  .nickname {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-tab
  .tab-left
  .left-main
  .tab-list
  .tab
  li
  .imgBox:hover
  .dim
  .dim-content {
  width: 100%;
  height: 55px;
  padding: 10px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.product-tab .tab-left .left-main .tab-list .tab li .imgBox > .dim {
  width: 200px;
  height: 400px;
  background-color: #1b5793;
  opacity: 0.8;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-sizing: border-box;
  position: absolute;
  top: 120px;
  left: 0;
  padding: 20px;
  overflow: hidden;
}
.dim .dim-title {
  width: 100%;
  font-size: 18px;
  height: 50px;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
